{{!-- <form action="/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}

<div class="user">
  <header class="user__header">
    <img
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg"
      alt=""
    />
    <h1 class="user__title">Login</h1>
  </header>
  <form class="form" action="/login" method="POST" id="form-container">

    <div class="form__group">
      <input
        type="text"
        name="username"
        placeholder="Username"
        class="form__input"
      />
    </div>

    <div class="form__group">
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="form__input"
      />
    </div>

    <div>
      <button class="btn" type="submit">Login</button>
    </div>

    {{#if errorMessage}}
      <div class="error-message">{{errorMessage}}</div>
    {{/if}}<br />

    <button class="btn">
      <p class="btn" class="account-message">Don't have an account? Sign up now!</p>
      <a href="/signup">Sign Up</a>
    </button>

  </form>
</div>