<h2>Add Coin to Portfolio</h2>

<form action="/crypto-add" method="post">

  <label for="name"></label>
  <br />
  <input name="name" value="{{id}}" readonly />
  <br />

  <label for="quantity">Quantity</label>
  <br />
  <input type="number" name="quantity" min="0" />
  <br />

  <button type="submit">Submit</button>
</form>

<a href="/">Back</a>