<div class="coin-form">
  
  <h2>Add Coin to Portfolio</h2>

  <form action="/crypto-add" method="post">

    <label  for="name">Name:</label>
    
    <input name="name" value="{{id}}" readonly />
    
    <label class="coin-label" for="quantity">Quantity:</label>
    
    <input type="number" name="quantity" min="0" />
    

    <button class="coin-btn" type="submit">Submit</button>
  </form>

<a href="/">Back</a>

</div>